/* ------backgound style -------- */

body {
  background: linear-gradient(180deg, #fbcdff 0%, #bacdff 100%);
  height: 100vh;
}
/* --------nav-bar style ----------------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  /* z-index: 100; */
}
/* logo section  */
header .logo-section {
  display: flex;
  width: auto;
  align-items: center;
  gap: 20px;
}
/* header .logo-section img {
  height: 50px;
  object-fit: fill;
  background-color: transparent;
} */
.logo {
  position: relative;
}
header .logo .left-circle-logo {
  position: relative;
  margin: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: radial-gradient(circle at center, #7757f199 70%, #9747ff 100%);
  border-radius: 50%;
  z-index: 4;
}
header .logo .right-circle-logo {
  position: relative;
  margin-left: calc(-4.65px - 16px);
  display: inline-block;
  width: 32px;
  height: 32px;
  background: radial-gradient(circle at center, #5fffff80 50%, #0bf4f4 100%);
  border-radius: 50%;
  z-index: -2;
}
header .logo-section p {
  font-size: 18px;
  font-weight: 700;
}
/* nav section  */
header .nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  justify-content: center;
}
header .nav-section ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
header .nav-section ul li {
  display: block;
}
.nav-section ul li a {
  position: relative;
  color: #333;
}
a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: -5px;
  right: 0;
  transition: width 0.3s ease-in-out;
}
a:hover::before {
  width: 100%;
}
/* cart section  */
header .login-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  /* width: 300px; */
}
.login-section .try {
  border: none;
  background-color: transparent;
}
.login-section .log {
  background-color: #deb5fa;
  box-shadow: 0px 4px 20px 0px #bbaffd;
  border: 1px solid black;
  border-radius: 8px;
  width: 55px;
  height: 34px;
}
.login-section .log:hover {
  background-color: black;
  color: white;
}
.login-section a {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  position: relative;
}
.login-section a::after {
  width: 45px;
  background-color: black;
  height: 10px;
}

/* ----------------main style ---------------------  */
.main {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  /* align-items: center; */
  /* padding-top: 50px */
}
.left-section {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.main-left-section {
  width: 583px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-left-section h4 {
  font-size: 70px;
}
.main-left-section p {
  color: #068f8a;
  font-size: 20px;
}
.main-left-section button {
  background: #deb5fa;
  color: #068f8a;
  width: 230px;
  height: 80px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 4px 20px 0px #9f71f8;
  cursor: pointer;
}
.right-section {
}
.right-section .circle-image-container {
  display: flex;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 0%,
    #78dcff 99.99%,
    rgba(80, 234, 255, 0.7) 100%
  );
  border-radius: 50%;
  height: 500px;
  width: 500px;
  justify-content: center;
  align-items: center;
}
.right-section .circle-image-container img {
  height: 525px;
}
